@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --linkClr: #ff4500;
    --baseClr: #fff;
    --unbaseClr: #000;
    --bgClr: #363433;
    --metalLightClr: #ececec;
    --metalMediumClr: #a0a0a0;
    --metalDarkClr: #707070;
    --screenLightClr: #8ad4ff;
    --screenMediumClr: #64c6ff;
    --screenDarkClr: #5dc3ff;
    --buttonLightClr: #5cc25c;
    --buttonMediumClr: #39c539;
    --buttonDarkClr: #1ba51b;
}

@keyframes buttonsAnimation {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0%);
    }
}

.end-screen {
    display: none;
    background-color: var(--screenLightClr);
}