@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$linkClr: #ff4500;
$baseClr: #fff;
$unbaseClr: #000;
$bgClr: #363433;
$metalLightClr: #ececec;
$metalMediumClr: #a0a0a0;
$metalDarkClr: #707070;
$screenLightClr: #8ad4ff;
$screenMediumClr: #64c6ff;
$screenDarkClr: #5dc3ff;
$buttonLightClr: #5cc25c;
$buttonMediumClr: #39c539;
$buttonDarkClr: #1ba51b;

@keyframes jukenmoviment {
    15% {
        &.player {
            transform: translateY(-30px);
        }

        &.cpu {
            transform: translateY(-30px) scaleX(-1);
        }
    }

    30% {
        &.player {
            transform: translateY(30px);
        }

        &.cpu {
            transform: translateY(30px) scaleX(-1);
        }
    }

    45% {
        &.player {
            transform: translateY(-30px);
        }

        &.cpu {
            transform: translateY(-30px) scaleX(-1);
        }
    }

    60% {
        &.player {
            transform: translateY(30px);
        }

        &.cpu {
            transform: translateY(30px) scaleX(-1);
        }
    }

    75% {
        &.player {
            transform: translateY(-30px);
        }

        &.cpu {
            transform: translateY(-30px) scaleX(-1);
        }
    }

    100% {
        &.player {
            transform: translateY(30px);
        }

        &.cpu {
            transform: translateY(30px) scaleX(-1);
        }
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 85%;

    background-color: $bgClr;
    border-radius: 5px;
    box-shadow: 0px 0px 10px $unbaseClr;

    .border-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40rem;
        height: 20rem;

        background-color: $metalMediumClr;
        border-radius: 5px;
        border-top: 3px solid $metalLightClr;
        border-bottom: 5px solid $metalDarkClr;

        .screen {
            width: 39rem;
            height: 19rem;

            background: linear-gradient(45deg, $screenMediumClr, $screenLightClr);
            border-radius: 3px;
            border-top: 10px solid $screenLightClr;
            border-bottom: 10px solid $screenDarkClr;

            .screen-match {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                column-gap: 50px;

                height: 100%;

                .jokenpo-move {
                    animation: jukenmoviment 2s linear;
                }

                .player {
                    img {
                        width: 200px;
                    }

                    p {
                        font-family: 'Press Start 2P', system-ui;
                        color: $baseClr;
                    }
                }

                .match-line {
                    background-color: $baseClr;
                    border: 2px solid #3b3b3b;
                    height: 80%;
                    width: 10px;
                }

                .cpu {
                    img {
                        width: 200px;
                        transform: scaleX(-1);
                    }

                    p {
                        font-family: 'Press Start 2P', system-ui;
                        color: $baseClr;
                        text-align: right;
                    }
                }
            }
        }
    }

    .navigation {
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            padding: 10px;

            background-color: $baseClr;
            border-radius: 0px 0px 10px 10px;

            ion-icon {
                font-size: 30px;
                background-color: $baseClr;
                border-radius: 50%;
                padding: 3px;
                color: $bgClr;
            }

            .icon-selected:active {
                font-size: 30px;
                background-color: $buttonLightClr;
                border-radius: 50%;
                padding: 3px;
                color: $baseClr;
            }
        }
    }
}