$linkClr: #ff4500;
$baseClr: #fff;
$unbaseClr: #000;
$bgClr: #e2f5f8;
$metalLightClr: #ececec;
$metalMediumClr: #a0a0a0;
$metalDarkClr: #707070;
$screenLightClr: #8ad4ff;
$screenMediumClr: #64c6ff;
$screenDarkClr: #1dacff;
$buttonLightClr: #5cc25c;
$buttonMediumClr: #39c539;
$buttonDarkClr: #1ba51b;
 
 footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 3rem;

     background-color: $unbaseClr;
     color: $baseClr;

     p{

        a{
            text-decoration: none;
            color: $linkClr;
        }
     }
 }