$linkClr: #ff4500;
$baseClr: #fff;
$unbaseClr: #000;
$bgClr: #e2f5f8;
$metalLightClr: #ececec;
$metalMediumClr: #a0a0a0;
$metalDarkClr: #707070;
$screenLightClr: #8ad4ff;
$screenMediumClr: #64c6ff;
$screenDarkClr: #1dacff;
$buttonLightClr: #5cc25c;
$buttonMediumClr: #39c539;
$buttonDarkClr: #1ba51b;

header {
     background-color: tomato;
     width: 100%;
     height: 3rem;
 }